body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00FF00;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url('../assets/welcome-back-message-on-green-old-terminal-screen-400-108368128.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    color: #00FF00;
}

main {
    padding: 2rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #00FF00;
    font-size: 1.2rem;
}

a:hover {
    color: #00CC00;
}
